//
// user.scss
// Use this to write your custom SCSS
//

.btn-bretzel-dark {
  background-color: $primary-500;
  color: white;
  &:hover {
    color: white;
    background-color: $primary-600;
  }
}

.btn-match-dark {
  background-color: $secondary-500;
  color: white;
  &:hover {
    color: white;
    background-color: $secondary-600;
  }
}

.btn-bretzel-light {
  background-color: $primary-100;
  color: $primary-500;
  &:hover {
    color: $primary-600;
    background-color: $primary-200;
  }
}

.btn-match-light {
  background-color: $secondary-100;
  color: $secondary-500;
  &:hover {
    color: $secondary-600;
    background-color: $secondary-200;
  }
}

.link-bretzel {
  &:hover {
    color: $primary-600;
  }
}

.link-match {
  &:hover {
    color: $secondary-600;
  }
}

.nav-link.active:before {
    border-bottom: 1px solid $primary-500 !important;
}

.nav-link-matches.active:before {
    border-bottom: 1px solid $secondary-500 !important;
}


.bretzel-switch {
  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 36px;
    height: 20px;
    background: $primary-200;
    display: block;
    border-radius: 100px;
    position: relative;
  }

  label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 90px;
    transition: 0.3s;
  }

  input:checked + label {
    background: $primary-500;
  }

  input:checked + label:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 26px;
  }

  // centering
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

.popup {
  position: absolute;
  right: 0;
  border: 1px solid #e3ebf6;
  border-radius: 3px;
  background-color: white;
  width: 250px;
  height: 500px;
}

.onboarding {
  background-color: $primary-100;
  display: flex;
  justify-content: space-between;
  .onboarding-step {
    text-align: left;
    width: 100%;
    margin: 8px;
    padding: 16px;
    background-color: $primary-200;
    span {
      font-size: 18px;
      font-weight: bold;
      color: $primary-500;
    }
  }
}

.hidden {
  display: none;
}

 .blurry {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}


