// 
// user-variables.scss
// Use this to overwrite Bootstrap and Dashkit variables
//

// Example of a variable override to change Dashkit's background color
// Remove the // to comment it in and see it in action!
// $body-bg: #12263F;


$primary-100: #FEF3ED;
$primary-200: #FBD7C2;
$primary-500: #F69A66;
$primary-600: #E88E5B;

$secondary-100: #FFEAEF;
$secondary-200: #FFC1CF;
$secondary-500: #FF4773;
$secondary-600: #FF0C46;
