<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">

    <!-- Nav -->
    <ul class="navbar-nav me-auto">
      <li class="nav-item pr-3">
        <a class="nav-link" href="@@webRoot/index.html" >
          <i class="fe fe-arrow-left" style="min-width: 1rem;"></i>
        </a>
      </li>
      <li class="nav-item pr-3">
        <a class="nav-link" href="@@webRoot/index.html" >
          <i class="fe fe-arrow-right" style="min-width: 1rem;"></i>
        </a>
      </li>
      <li class="nav-item pr-3">
        <a class="nav-link" href=".">
          <i class="fe fe-rotate-cw" style="min-width: 1rem;"></i>
        </a>
      </li>
    </ul>

    <div class="input-group">
      <input class="form-control" placeholder="https://www.linkedin.com/feed/" type="text" aria-label="https://www.linkedin.com/feed/" aria-describedby="inputGroupReverse">
    </div>

    <!-- Nav -->
    <ul class="navbar-nav me-auto ml-3">
      <li class="nav-item" class="popup-toggle" style="position:relative;">
        <a class="nav-link" href="#">
          <img src="@@webRoot/assets/img/picto.svg" alt="..." class="avatar-img" style="width: 24px;">
        </a>
        @@if(section =='popup-signed-in'){@@include("popup-signed-in.html")}
        @@if(section =='popup-not-signed-in'){@@include("popup-not-signed-in.html")}
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" >
          <img src="@@webRoot/assets/img/avatars/avatar-1.jpg" alt="..." class="avatar-img rounded-circle" style="width: 24px;">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=".">
          <i class="fe fe-more-vertical" style="width: 24px;"></i>
        </a>
      </li>
    </ul>


  </div>
</nav>
