<div class="popup-menu" style="
  position: absolute;
  right: 16%;
  top:  20px;
  width: 250px;
  background: #fef8ef;
  border: 1px solid #e3ebf6;
  border-radius: 6px;
  margin-top: 20px;
  padding: 16px;">
  <h1 style="font-size: 18px;">
    Hello Bretzel lover
  </h1>
  <div class="" style="padding:8px">
    We're very sorry but the application only works if:<br><br>
    <ol>
      <li>You are visiting <strong>linkedin.com</strong></li><br>
      <li>You are <strong>connected</strong> to Linkedin with you account</li><br>
      <li>You are not using an <strong>incognito</strong> window</li><br>
    </ol>
    <a href="." class="btn btn-xl btn-bretzel-dark d-none d-md-inline-block " style="width: 100%;">
      Visit Linkedin
    </a>
  </div>
